table {
  width: 100%;
  padding: 10px;

}

.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-last_name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-first_name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-avatar{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.tab{
  padding: 5%;
}

mat-card{
  border-radius:0px;
  background-color: #3f51b5;
  text-align: right;
  padding-right: 5%;
  padding-left: 5%;
}
